@font-face {
  font-family: poppins;
  src: url(./Poppins/Poppins-Medium.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: poppins, sans-serif;
  margin: 0;
  font-size: 64.5%;
  background-color: #fff;
}

a {
  text-decoration: none;
}

/* -------------------------------------------------------------------------- */
/*                                   Navbar                                   */
/* -------------------------------------------------------------------------- */

.navbar {
  display: flex;
  justify-content: end;
  gap: 2.4rem;
  align-items: center;
  padding: 1.2rem;
  background-color: #2b29a5;
}

.navbar-link {
  color: #fff;
  font-size: 0.9rem;
}

/* .signup {
  background-color: #fff;
  color: #2b29a5;
  padding: 0.4rem;
  border-radius: 0.2rem;
} */

/* -------------------------------------------------------------------------- */
/*                                    Home                                    */
/* -------------------------------------------------------------------------- */

.div-intro {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 90vh;
  border-bottom: 4px solid #2b29a5;
}

p {
  margin: 2.4rem;
  color: #20202c;
  font-size: 3.2rem;
  text-align: center;
}

.title {
  color: #2b29a5;
  font-weight: 600;
}

.sub-title {
  font-size: 2.4rem;
  color: #241e33;
}

.input-name {
  border: none; /* Remove default border */
  border-bottom: 1px solid #ccc; /* Add bottom border */
  color: #2b29a5;
  font-weight: 600;
  padding: 5px; /* Add padding */
  text-align: center;
  outline: none; /* Remove outline on focus */
  font-size: 3.2rem;
}

.input-name::placeholder {
  color: #241e33; /* Change placeholder text color */
}

.div-tags {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.4rem;
}

.tag,
.setting-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.4rem;
  width: max-content;
  padding: 1.2rem;
  font-size: 1.8rem;
  border-radius: 12px;
  border: 2px solid #2b29a5;
  margin: 0 1.2rem;
  color: #000;
  cursor: pointer;
  transition: all 0.2s;
}

.tag:hover,
.setting-button:hover {
  color: #fff;
  background-color: #2b29a5;
}

/* Canvas */
#canvas-container {
  padding: 3.2rem;
  text-align: center;
}

.div-skribble {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.div-settings {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Changed to center */
  gap: 1.2rem;
}

.setting {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.setting-input[type="checkbox"] {
  transform: scale(1.5); /* Adjusted checkbox size */
}
.setting-label {
  font-size: 1.4rem;
  color: #20202c;
}

.setting-button {
  display: inline-block;
  padding: 0.4rem 1.2rem;
  font-size: 1.4rem;
  border-radius: 0.6rem;
  margin: 1.2rem;
}

#canvas {
  border: 2px solid black;
}

input[type="range"] {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full width */
  height: 20px; /* Set a height */
  background: #ddd; /* Background color of the track */
  border-radius: 10px; /* Rounded corners */
  outline: none; /* Remove default focus style */
  margin: 10px 0; /* Add some margin for spacing */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 20px; /* Set a specific width */
  height: 20px; /* Set a specific height */
  background: #4caf50; /* Color of the thumb */
  border-radius: 50%; /* Round the thumb */
  cursor: pointer; /* Add a pointer cursor on hover */
}

/* Firefox */
input[type="range"]::-moz-range-track {
  background: #ddd; /* Background color of the track */
  border-radius: 10px; /* Rounded corners */
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
  background: #2b29a5; /* Color of the thumb */
  border: none; /* Remove the default border */
  border-radius: 50%; /* Round the thumb */
  cursor: pointer; /* Add a pointer cursor on hover */
}

/* WebKit/Blink */
input[type="range"]::-webkit-slider-runnable-track {
  background: #ddd; /* Background color of the track */
  border-radius: 10px; /* Rounded corners */
}

/* WebKit/Blink */
input[type="range"]::-webkit-slider-thumb {
  background: #2b29a5; /* Color of the thumb */
  border: none; /* Remove the default border */
  border-radius: 50%; /* Round the thumb */
  cursor: pointer; /* Add a pointer cursor on hover */
}

/* -------------------------------------------------------------------------- */
/*                                   Preview                                  */
/* -------------------------------------------------------------------------- */
.div-preview {
  display: none;
  /* display: grid; */
  justify-content: center;
  align-items: center;
}

.preview-name {
  font-size: 1.6rem;
}

.preview-sign {
  width: 200px;
}
